[Unit]
Description=noncer mining

[Service]
ExecStart=/nimiq-xmrig-ec2/noncer/noncerpro --name=V3-EC2-058 --address='NQ73 31EF 9N10 CSD5 5CK6 UFA1 4RRX QXB4 8L45' --server=nimiq.icemining.ca --port=2053 --mode=dumb

[Install]
WantedBy=multi-user.target
