[Unit]
Description=XMR mining

[Service]
ExecStart=/nimiq-xmrig-ec2/xmrig/xmrig -o us-west.minexmr.com:4444 -u 41kExfbMFzQaCjEJmkvMGx3GYpoLZc1L2CX6UhTf7jDTaKaLFJ7iTygDfCWyq61NFbA3JpY9zKb5djgxtdTukLXSF4KMT2C.V9-EC2-115 -k --randomx-1gb-pages -t 8

[Install]
WantedBy=multi-user.target